{% extends "board/base.html" %}
{% load static %}

{% block title %}
Order
{% endblock title %}

{% block content %}
<p class="menu-title">게시판 글쓰기
<div style="padding: 10px; text-align: center;">
    <form action="" method="POST">
        {% csrf_token %}
        {% for form in forms %}
        <div>
            {% ifequal form.id_for_label "id_is_secret" %}
            <label for="{{ form.id_for_label }}">{{ form.label }}</label>
            {% endifequal %}
            {{ form }}
        </div>
        {% endfor %}
        <script type="text/javascript">
            document.querySelector("#id_title").style.width = "720px";
            document.querySelector("#id_title").style.height = "35px";
        </script>

        {% if error %}
        {{ error }}
        {% endif %}
        <button class="btn-submit" type="submit">등록</button>
    </form>
</div>
{% endblock content %}